
  @font-face{
    font-family: 'AnandaBlackPersonalUseRegular-rg9Rx';
    font-display: swap;
    src: url('/source/fonts/AnandaBlackPersonalUseRegular-rg9Rx.ttf') format("truetype");
}

body {
    font-family: 'AnandaBlackPersonalUseRegular-rg9Rx';
}