
  @font-face{
    font-family: 'JetBrains Mono';
    font-display: swap;
    src: url('/source/fonts/JetBrainsMono-Regular.ttf') format("truetype");
}

  @font-face{
    font-family: 'Mangola';
    font-display: swap;
    src: url('/source/fonts/MangolaRegular-axmw5.otf') format("opentype");
}

body {
    font-family: 'JetBrains Mono', 'Mangola';
}